{% for property in properties %}
<head>
    <title>Property Catalog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<div class="col-md-3">
    <div class="card mb-4">
        <img src="{{ property.thumbnail.url }}" class="card-img-top" alt="Thumbnail">
        <div class="card-body">
            <h5 class="card-title">{{ property.address }}</h5>
            <p>listing_price: {{ property.listing_price }} kr</p>
            <p>rooms: {{ property.rooms }}</p>
            <p>area: {{ property.area }} m²</p>
            <p>sold: {% if property.sold %}Sold{% else %}Available{% endif %}</p>
            <a href="{% url 'property_detail' property.id %}">
                <button>View Details</button>
            </a>

        </div>
    </div>
</div>
{% endfor %}